$theme-colors: (
  "primary": #392C70
);

$link-color: #392C70;

@import "../../public/node_modules/bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}

body {
  align-items: center;
  padding-bottom: 40px;
}

form {
    max-width: 320px;
    margin: auto;
}

div.header {
    a {
        text-decoration: none;
        color: #000000;

        img {
            margin-right: -1rem;
            margin-top: -0.5rem;

        }
    }
}

div.game-title {
    a {
        text-decoration: none;
        color: #000000;

        img {
            margin-right: -1rem;
        }
    }
}